{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="container p-5">
    <div class="row mb-4 mx-auto ">
      <div class="col-md-3 bg-secondary shadow p-3 anchor  ">
        <a href="/account_master">ACCOUNT MANAGER ADD</a>
      </div>
      <div class="col-md-3 bg-secondary shadow p-3 anchor offset-1">
        <a href="/sale">SALES INVOICE ADD</a>
      </div>
      <div class="col-md-3 bg-secondary shadow p-3 anchor offset-1">
        <a href="">ACCOUNT LEDGER</a>
      </div>
    </div>
    <div class="row mb-4 mx-auto">
      <div class="col-md-3 bg-secondary shadow p-3 anchor ">
        <a href="/account_list">ACCOUNT MANAGER DISPLAY</a>
      </div>
      <div class="col-md-3 bg-secondary shadow p-3 anchor offset-1 ">
        <a href="/sale_list">SALES INVOICE DISPLAY</a>
      </div>
      <div class="col-md-3 bg-secondary shadow p-3 anchor offset-1 ">
        <a href="">PRODUCT LEDGER</a>
      </div>
    </div>
    <div class="row mb-4 mx-auto">
      <div class="col-md-3 bg-secondary shadow p-3 anchor  ">
        <a href="/product_master">PRODUCT MASTER ADD</a>
      </div>
      <div class="col-md-3 bg-secondary shadow p-3 anchor offset-1 ">
        <a href="">PURCHASE INVOIVE ADD</a>
      </div>
      <div class="col-md-3 bg-secondary shadow p-3 anchor offset-1 ">
        <a href="">OUTSTANDING RECEIVABLE</a>
      </div>
    </div>
    <div class="row mb-4 mx-auto">
      <div class="col-md-3 bg-secondary shadow p-3 anchor  ">
        <a href="/product_list">PRODUCT MASTER DISPLAY</a>
      </div>
      <div class="col-md-3 bg-secondary shadow p-3 anchor offset-1 ">
        <a href="">PURCHASE INVOIVE DISPLAY</a>
      </div>
      <div class="col-md-3 bg-secondary shadow p-3 anchor offset-1 ">
        <a href="sales list.html">SALES REGISTER</a>
      </div>
    </div>
    <div class="row mb-4 mx-auto">
      <div class="col-md-3 bg-secondary shadow p-3 anchor  ">
        <a href="">REMINDER</a>
      </div>
      <div class="col-md-3 bg-secondary shadow p-3 anchor offset-1 ">
        <a href="">QUICK ENTRY</a>
      </div>
      <div class="col-md-3 bg-secondary shadow p-3 anchor offset-1 ">
        <a href="">GST REPORTS</a>
      </div>
    </div>
    
  </div>
  {% endblock 'main' %}